<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>18/08/27 15:26:00</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ClienteSinMotor.setUp()[pri:0, instance:tatlocal.ClienteSinMotor@57fffcd7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/08/27 15:26:08</td>   <td>8086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClienteSinMotor.flujoPrincipal()[pri:0, instance:tatlocal.ClienteSinMotor@57fffcd7]">flujoPrincipal</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>18/08/27 15:26:49</td>   <td>48957</td> <td>&nbsp;</td><td title="&lt;&lt;ClienteSinMotor.tearDown()[pri:0, instance:tatlocal.ClienteSinMotor@57fffcd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
</table>
