<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/02/01 11:16:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:cuentas20181.ClienteGanadoraPremio@6eebc39e]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=Desktop cases 01 Chrome-1@1826836425</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/02/01 11:17:21</td>   <td>22516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClienteGanadoraPremio.flujoPrincipal()[pri:0, instance:cuentas20181.ClienteGanadoraPremio@6eebc39e]">flujoPrincipal</td> 
  <td>TestNG-test=Desktop cases 01 Chrome-1@1826836425</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/02/01 11:17:21</td>   <td>22619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:cuentas20181.ClienteGanadoraPremio@cb644e]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=Desktop cases 02 Chrome-1@1744465386</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/02/01 11:17:42</td>   <td>43636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClienteGanadoraPremio.flujoPrincipal()[pri:0, instance:cuentas20181.ClienteGanadoraPremio@cb644e]">flujoPrincipal</td> 
  <td>TestNG-test=Desktop cases 02 Chrome-1@1744465386</td>   <td></td> </tr>
</table>
