<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>17/12/04 20:33:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ClienteFacil@3ffc5af1]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=FirstTest-1@1793411125</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:33:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ClienteFacil@3ffc5af1]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=FirstTest-1@1793411125</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/12/04 20:33:25</td>   <td>6662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClienteFacil.flujoPrincipalFacil()[pri:0, instance:ClienteFacil@3ffc5af1]">flujoPrincipalFacil</td> 
  <td>TestNG-test=FirstTest-1@1793411125</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/12/04 20:33:25</td>   <td>6662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClienteFacil.flujoPrincipalGanadora()[pri:0, instance:ClienteFacil@3ffc5af1]">flujoPrincipalGanadora</td> 
  <td>TestNG-test=FirstTest-2@1087271269</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:34:09</td>   <td>50489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:ClienteFacil@3ffc5af1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=FirstTest-2@1087271269</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:34:32</td>   <td>73592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:ClienteFacil@3ffc5af1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=FirstTest-2@1087271269</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:34:41</td>   <td>83004</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.terminate()[pri:0, instance:ClienteFacil@3ffc5af1]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FirstTest-2@1087271269</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:34:42</td>   <td>83061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:SecondTest@754ba872]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=SecondTest-2@1455232101</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:34:42</td>   <td>83063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:SecondTest@754ba872]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=SecondTest-2@1455232101</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>17/12/04 20:34:47</td>   <td>88505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecondTest.GOOGLE4()[pri:0, instance:SecondTest@754ba872]">GOOGLE4</td> 
  <td>TestNG-test=SecondTest-1@1903748219</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:34:48</td>   <td>89666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:SecondTest@754ba872]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=SecondTest-2@1455232101</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>17/12/04 20:34:52</td>   <td>93991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecondTest.YANDEX()[pri:0, instance:SecondTest@754ba872]">YANDEX</td> 
  <td>TestNG-test=SecondTest-2@1455232101</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:35:04</td>   <td>105457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:SecondTest@754ba872]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=SecondTest-2@1455232101</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/12/04 20:35:08</td>   <td>109180</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.terminate()[pri:0, instance:SecondTest@754ba872]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=SecondTest-2@1455232101</td>   <td></td> </tr>
</table>
